@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* Light Mode */
:root {
    --background: #faf4ed;
    --surface: #fffaf3;
    --overlay: #f2e9e1;
    --muted: #9893a5;
    --subtle: #797593;
    --text: #575279;
    --love: #b4637a;
    --gold: #ea9d34;
    --gold-subtle: #e2a755;
    --rose: #d7827e;
    --pine: #286983;
    --foam: #56949f;
    --foam-bright: #e2d5d5;
    --iris: #a48ac2;
    --iris-bright: #8847d3;
    --highlight-low: #f4ede8;
    --highlight-med: #dfdad9;
    --highlight-high: #cecacd;
}

/* Dark Mode */
body.dark-mode {
    --background: #1e1e1e;
    --surface: #2e2e2e;
    --overlay: #3e3e3e;
    --muted: #a5a5a5;
    --subtle: #939393;
    --text: #e5e5e5;
    --love: #ff6f91;
    --gold: #ffb74d;
    --gold-subtle: #ffcc80;
    --rose: #ff8a80;
    --pine: #4db6ac;
    --foam: #4dd0e1;
    --foam-bright: #b2ebf2;
    --iris: #ba68c8;
    --iris-bright: #ce93d8;
    --highlight-low: #424242;
    --highlight-med: #616161;
    --highlight-high: #757575;
}


@font-face {
    font-family: "Font";
    src: url('../fonts/IosevkaTermNerdFont-LightOblique.woff2') format(woff2);
}
.big-shoulders-shane {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family:"DM Sans", sans-serif;
    /* font-family: "Font", sans-serif; */
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
}

header {
    background-color: var(--surface);
}

/* header h1 {
    color: var (--rose);
}

.inline {
    color: var(--iris-bright);
    text-decoration: underline;
}

.list-group-item {
    background-color: var(--surface);
    color: var(--text);
    border: 1px solid var(--highlight-high);
}

.list-group-item:hover {
    background-color: var(--highlight-low);
}
/* Ensure the navbar spans the full width */
.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    border-color: var(--rose);
    border-bottom-width: 1px;
}

.custom-navbar {
    background-color: var(--background); /* Change this to your desired background color */
    border-color: var(--rose);
    border-style:solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;

    color: var(--text); /* Change this to your desired text color */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-links a {
    color: var(--text); /* Change this to your desired text color */
    position: relative;
    text-decoration: none;
    font-weight: 500;
    margin: 0 15px; /* Add some margin between the links */
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust this value to position the underline */
    width: 100%;
    height: 2px;
    background-color: var(--text);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.custom-navbar button {
    background-color: transparent;
    /* border-bottom-width: 1px; */
    border-style: none;
    color: var(--text);
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
}

.custom-navbar button:hover {
    color: var(--rose);
}

footer {
    background-color: var(--surface);
    color: var(--muted);
}

.btn-primary {
    background-color: var(--gold);
    border-color: var(--rose);
    border-radius: 10px;
    margin: 25px;
    padding: 12px 25px;
    font-size: 1.25rem;
}
.btn-secondary {
    align-content: center;
    background-color: var(--iris);
    border-color: var(--love);
}
.btn-secondary:hover {
    background-color: var(--rose);
    border-color: var(--love);
}

.btn-primary:active {
    background-color: var(--rose);
    border-color: var(--love);
}

.btn-primary:hover {
    background-color: var(--love) !important;
    border-color: var(--love);
}

.welcome-screen {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    color: var (--text);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}

.welcome-content {
    text-align: center;
    font-family: "Fira Code", sans-serif;
}

.welcome-content h1 {
    color: var(--rose);
}

.welcome-content p {
    color: var(--subtle);
}

.wave {
    /* font-style: italic; */
    display: inline-block;
    white-space: nowrap;
    animation: wave .75s infinite;
    animation-iteration-count: 2; 
}

.wave:nth-child(1) { animation-delay: 0.1s; }
.wave:nth-child(2) { animation-delay: 0.2s; }
.wave:nth-child(3) { animation-delay: 0.3s; }
.wave:nth-child(4) { animation-delay: 0.4s; }
.wave:nth-child(5) { animation-delay: 0.5s; }
.wave:nth-child(6) { animation-delay: 0.6s; }
.wave:nth-child(7) { animation-delay: 0.7s; }
.wave:nth-child(8) { animation-delay: 0.8s; }
.wave:nth-child(9) { animation-delay: 0.9s; }
.wave:nth-child(10) { animation-delay: 1.0s; }
.wave:nth-child(11) { animation-delay: 1.1s; }
.wave:nth-child(12) { animation-delay: 1.2s; }
.wave:nth-child(13) { animation-delay: 1.3s; }
.wave:nth-child(14) { animation-delay: 1.4s; }

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
        color: var(--iris); /* Color at the peak of the wave */

    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-me-section {
    width: 100%;
    background-color: var(--gold);
    padding: 20px 0;
    padding-bottom: 30px;
}


.about-me-title {
    text-transform: uppercase;
    color: var(--surface);
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
}

.about-me-text {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    color: var(--surface)
}

.about-me-image {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.about-me-image.animate {
    opacity: 1;
    transform: scale(1);
}

.projects-section {
    width: 50%;
    /* background-color: var(--surface); */
}

.btn-project{
    color: var(--surface);
    background-color: var(--foam);
    /* border-color: var(--blac); */
    border-color: var(--text);
    /* margin: 0.5rem; */
    font-size: 1rem;
}
.btn-project:hover{
    background-color: var(--love);
    color: var(--surface);
}

.project-item{
    margin-bottom: 4rem;


}
.card-title{
    color: var(--rose);
    font-weight: bold;
}
.featured-projects {
    color: var(--gold);
    font-size: 1.6rem;
    padding: 20px 0;
    font-weight: bold;
}

.wide-container{
    max-width: 200%;
    margin: 0 auto;
}

.footer {
    background-color: var(--background);
    color: var(--muted);
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid var(--rose);
}

.footer-text {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    margin: 10px 0 0;
    font-size: 16px;
}

.footer-links a {
    color: var(--rose);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--foam);
    text-decoration: underline;
}

pre {
    background-color: var(--highlight-low);
    font-family: 'Fira Code', monospace;
    border-radius: 20px;
    border: 1px solid var(--highlight-high);
    padding: 10px;
    border-radius: 4px;
}

pre code {

    font-size: 5px;
    display: block;
}

code{
    font-family: 'Font';
}

.blog-post-list{
    margin: 0 auto;
    padding: 20px 0;
    font-size: 1.2em;
    line-height: 3.0;
    width: 50%;
}

/* Blog Post List Styles */
#blog-list {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
}

#blog-list li {
    background-color: var(--surface); /* Background color for each list item */
    border: 1px solid var(--highlight-high); /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 10px 0; /* Space between list items */
    padding: 15px; /* Padding inside each list item */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#blog-list li:hover {
    background-color: var(--highlight-low); /* Background color on hover */
}

#blog-list a {
    color: var(--text); /* Text color */
    text-decoration: none; /* Remove underline */
    font-weight: 500; /* Font weight */
    display: block; /* Make the link cover the entire list item */
}

#blog-list a:hover {
    color: var(--rose); /* Text color on hover */
}

@media (min-width: 768px) {
    .about-me-text {
        padding-left: 75px;
        padding-right: 75px;
    }
    .welcome-content h1 {
        font-size: 3rem;
        white-space: nowrap;
    }
}

@media (max-width: 1206px) {
    .about-me-text {
        padding-top: 25px;
    }
    .projects-section {
        width: 90%;
    }
}

@media (max-width: 868px) {
    .welcome-content h1 {
        font-size: 1.5rem;
    }
}